function Main.main 10
    push constant 253
    push constant 100
    call Player.new 2
    pop local 1
    push constant 100
    push constant 100
    call Player.new 2
    pop local 2
    push constant 8
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 95
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    pop static 0
    push constant 8
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 95
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    pop static 1
    call GameMap.new 0
    pop local 3
    push local 3
    call GameMap.clearMap 1
    pop temp 0
    call Main.drawStartScreen 0
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push local 3
    push constant 1
    call GameMap.loadLevel 2
    pop temp 0
    push local 3
    call GameMap.drawMap 1
    pop temp 0
    push constant 22
    push constant 4
    call Output.moveCursor 2
    pop temp 0
    push static 0
    call Output.printString 1
    pop temp 0
    push constant 8
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 22
    push constant 40
    call Output.moveCursor 2
    pop temp 0
    push static 1
    call Output.printString 1
    pop temp 0
    push constant 8
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 10000
    pop local 8
    push constant 10000
    pop local 9
    push constant 0
    pop local 0
label Main_0
    push local 0
    not
    not
    if-goto Main_1
    call Keyboard.keyPressed 0
    pop local 4
    push local 4
    push constant 130
    eq
    not
    if-goto Main_3
    push local 1
    push constant 1
    neg
    call Player.setDir 2
    pop temp 0
    goto Main_2
label Main_3
    push local 4
    push constant 132
    eq
    not
    if-goto Main_5
    push local 1
    push constant 0
    call Player.setDir 2
    pop temp 0
    goto Main_4
label Main_5
    push local 4
    push constant 140
    eq
    not
    if-goto Main_7
    push constant 1
    neg
    pop local 0
    goto Main_6
label Main_7
label Main_6
label Main_4
label Main_2
    push local 1
    call Player.getDir 1
    not
    if-goto Main_9
    push local 1
    push constant 1
    neg
    push constant 0
    push local 3
    call Player.move 4
    pop temp 0
    goto Main_8
label Main_9
    push local 1
    push constant 1
    push constant 0
    push local 3
    call Player.move 4
    pop temp 0
label Main_8
    push local 1
    push local 3
    call Player.isOnGround 2
    pop local 5
    push local 4
    push constant 131
    eq
    push local 5
    and
    not
    if-goto Main_11
    push local 1
    push constant 400
    call Player.setJump 2
    pop temp 0
    push local 1
    push constant 1
    call Player.setNumber 2
    pop temp 0
    push local 1
    push constant 0
    call Player.setJumpLoop 2
    pop temp 0
    goto Main_10
label Main_11
label Main_10
    push local 5
    push constant 1
    neg
    eq
    not
    if-goto Main_13
    push local 1
    push constant 1
    call Player.setNumber 2
    pop temp 0
    push local 1
    push constant 0
    call Player.setTick 2
    pop temp 0
    goto Main_12
label Main_13
label Main_12
    push local 5
    push constant 0
    eq
    not
    if-goto Main_15
    push local 1
    push local 3
    call Player.hitsCieling 2
    push constant 1
    neg
    eq
    not
    if-goto Main_17
    push local 1
    push constant 0
    call Player.setJump 2
    pop temp 0
    goto Main_16
label Main_17
label Main_16
    push local 1
    push constant 0
    call Player.setGravity 2
    pop temp 0
label Main_18
    push local 1
    call Player.getGravity 1
    push local 1
    call Player.getNumber 1
    lt
    not
    if-goto Main_19
    push local 1
    push constant 0
    push constant 1
    push local 3
    call Player.move 4
    pop temp 0
    push local 1
    push local 1
    call Player.getGravity 1
    push constant 1
    add
    call Player.setGravity 2
    pop temp 0
    goto Main_18
label Main_19
    goto Main_14
label Main_15
label Main_14
    push local 1
    call Player.getJump 1
    push constant 0
    gt
    not
    if-goto Main_21
label Main_22
    push local 1
    call Player.getJumpLoop 1
    push local 1
    call Player.getJump 1
    push constant 10
    call Math.divide 2
    lt
    not
    if-goto Main_23
    push local 1
    push constant 0
    push constant 1
    neg
    push local 3
    call Player.move 4
    pop temp 0
    push local 1
    push local 1
    call Player.getJumpLoop 1
    push constant 1
    add
    call Player.setJumpLoop 2
    pop temp 0
    goto Main_22
label Main_23
    push local 1
    push local 1
    call Player.getJump 1
    push constant 1
    sub
    call Player.setJump 2
    pop temp 0
    goto Main_20
label Main_21
label Main_20
    push local 1
    call Player.getTick 1
    push constant 20
    eq
    not
    if-goto Main_25
    push local 1
    push constant 1
    call Player.setTick 2
    pop temp 0
    push local 1
    call Player.getNumber 1
    push constant 8
    lt
    not
    if-goto Main_27
    push local 1
    push local 1
    call Player.getNumber 1
    push constant 1
    add
    call Player.setNumber 2
    pop temp 0
    goto Main_26
label Main_27
label Main_26
    goto Main_24
label Main_25
    push local 1
    push local 1
    call Player.getTick 1
    push constant 1
    add
    call Player.setTick 2
    pop temp 0
label Main_24
    call Keyboard.keyPressed 0
    pop local 6
    push local 6
    push constant 97
    eq
    not
    if-goto Main_29
    push local 2
    push constant 1
    neg
    call Player.setDir 2
    pop temp 0
    goto Main_28
label Main_29
    push local 6
    push constant 100
    eq
    not
    if-goto Main_31
    push local 2
    push constant 0
    call Player.setDir 2
    pop temp 0
    goto Main_30
label Main_31
    push local 6
    push constant 140
    eq
    not
    if-goto Main_33
    push constant 1
    neg
    pop local 0
    goto Main_32
label Main_33
label Main_32
label Main_30
label Main_28
    push local 2
    call Player.getDir 1
    not
    if-goto Main_35
    push local 2
    push constant 1
    neg
    push constant 0
    push local 3
    call Player.move 4
    pop temp 0
    goto Main_34
label Main_35
    push local 2
    push constant 1
    push constant 0
    push local 3
    call Player.move 4
    pop temp 0
label Main_34
    push local 2
    push local 3
    call Player.isOnGround 2
    pop local 7
    push local 6
    push constant 119
    eq
    push local 7
    and
    not
    if-goto Main_37
    push local 2
    push constant 300
    call Player.setJump 2
    pop temp 0
    push local 2
    push constant 1
    call Player.setNumber 2
    pop temp 0
    push local 2
    push constant 0
    call Player.setJumpLoop 2
    pop temp 0
    goto Main_36
label Main_37
label Main_36
    push local 7
    push constant 1
    neg
    eq
    not
    if-goto Main_39
    push local 2
    push constant 1
    call Player.setNumber 2
    pop temp 0
    push local 2
    push constant 0
    call Player.setTick 2
    pop temp 0
    goto Main_38
label Main_39
label Main_38
    push local 7
    push constant 0
    eq
    not
    if-goto Main_41
    push local 2
    push local 3
    call Player.hitsCieling 2
    push constant 1
    neg
    eq
    not
    if-goto Main_43
    push local 2
    push constant 0
    call Player.setJump 2
    pop temp 0
    goto Main_42
label Main_43
label Main_42
    push local 2
    push constant 0
    call Player.setGravity 2
    pop temp 0
label Main_44
    push local 2
    call Player.getGravity 1
    push local 2
    call Player.getNumber 1
    lt
    not
    if-goto Main_45
    push local 2
    push constant 0
    push constant 1
    push local 3
    call Player.move 4
    pop temp 0
    push local 2
    push local 2
    call Player.getGravity 1
    push constant 1
    add
    call Player.setGravity 2
    pop temp 0
    goto Main_44
label Main_45
    goto Main_40
label Main_41
label Main_40
    push local 2
    call Player.getJump 1
    push constant 0
    gt
    not
    if-goto Main_47
label Main_48
    push local 2
    call Player.getJumpLoop 1
    push local 2
    call Player.getJump 1
    push constant 10
    call Math.divide 2
    lt
    not
    if-goto Main_49
    push local 2
    push constant 0
    push constant 1
    neg
    push local 3
    call Player.move 4
    pop temp 0
    push local 2
    push local 2
    call Player.getJumpLoop 1
    push constant 1
    add
    call Player.setJumpLoop 2
    pop temp 0
    goto Main_48
label Main_49
    push local 2
    push local 2
    call Player.getJump 1
    push constant 1
    sub
    call Player.setJump 2
    pop temp 0
    goto Main_46
label Main_47
label Main_46
    push local 2
    call Player.getTick 1
    push constant 20
    eq
    not
    if-goto Main_51
    push local 2
    push constant 1
    call Player.setTick 2
    pop temp 0
    push local 2
    call Player.getNumber 1
    push constant 8
    lt
    not
    if-goto Main_53
    push local 2
    push local 2
    call Player.getNumber 1
    push constant 1
    add
    call Player.setNumber 2
    pop temp 0
    goto Main_52
label Main_53
label Main_52
    goto Main_50
label Main_51
    push local 2
    push local 2
    call Player.getTick 1
    push constant 1
    add
    call Player.setTick 2
    pop temp 0
label Main_50
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 22
    push constant 19
    call Output.moveCursor 2
    pop temp 0
    push local 8
    call Output.printInt 1
    pop temp 0
    push constant 22
    push constant 59
    call Output.moveCursor 2
    pop temp 0
    push local 9
    call Output.printInt 1
    pop temp 0
    push local 1
    call Player.draw 1
    pop temp 0
    push local 2
    call Player.draw 1
    pop temp 0
    push local 8
    push constant 1
    sub
    pop local 8
    push local 9
    push constant 1
    sub
    pop local 9
    push constant 5
    call Sys.wait 1
    pop temp 0
    goto Main_0
label Main_1
    push local 0
    not
    if-goto Main_55
    push constant 10
    push constant 27
    call Output.moveCursor 2
    pop temp 0
    push constant 9
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    goto Main_54
label Main_55
label Main_54
    push constant 0
    return
function Main.drawStartScreen 2
    push constant 0
    pop local 1
    push constant 4
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 5
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 6
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 7
    push constant 18
    call Output.moveCursor 2
    pop temp 0
    push constant 28
    call String.new 1
    push constant 66
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 107
    call String.appendChar 2
    push constant 44
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 75
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 8
    push constant 23
    call Output.moveCursor 2
    pop temp 0
    push constant 17
    call String.new 1
    push constant 65
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 81
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 18
    call Output.moveCursor 2
    pop temp 0
    push constant 29
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 12
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 24
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 13
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 24
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 14
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 15
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 81
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 113
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 16
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 10
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push static 0
    call Output.printString 1
    pop temp 0
    push constant 17
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 10
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push static 1
    call Output.printString 1
    pop temp 0
label Main_56
    push local 1
    not
    not
    if-goto Main_57
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 32
    eq
    not
    if-goto Main_59
label Main_60
    call Keyboard.keyPressed 0
    push constant 32
    eq
    not
    if-goto Main_61
    goto Main_60
label Main_61
    push constant 1
    neg
    return
    goto Main_58
label Main_59
label Main_58
    push local 0
    push constant 81
    eq
    push local 0
    push constant 113
    eq
    or
    not
    if-goto Main_63
    call Screen.clearScreen 0
    pop temp 0
    call Sys.halt 0
    pop temp 0
    goto Main_62
label Main_63
label Main_62
    push local 0
    push constant 49
    eq
    not
    if-goto Main_65
label Main_66
    call Keyboard.keyPressed 0
    push constant 49
    eq
    not
    if-goto Main_67
    goto Main_66
label Main_67
    push constant 19
    push constant 21
    call Output.moveCursor 2
    pop temp 0
    push constant 21
    call String.new 1
    push constant 69
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Keyboard.readLine 1
    pop static 0
    push constant 19
    push constant 21
    call Output.moveCursor 2
    pop temp 0
    push constant 41
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 16
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 41
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 16
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 10
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push static 0
    call Output.printString 1
    pop temp 0
    goto Main_64
label Main_65
label Main_64
    push local 0
    push constant 50
    eq
    not
    if-goto Main_69
label Main_70
    call Keyboard.keyPressed 0
    push constant 50
    eq
    not
    if-goto Main_71
    goto Main_70
label Main_71
    push constant 19
    push constant 21
    call Output.moveCursor 2
    pop temp 0
    push constant 21
    call String.new 1
    push constant 69
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Keyboard.readLine 1
    pop static 1
    push constant 19
    push constant 21
    call Output.moveCursor 2
    pop temp 0
    push constant 41
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 17
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 41
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 17
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 10
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push static 1
    call Output.printString 1
    pop temp 0
    goto Main_68
label Main_69
label Main_68
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Main_56
label Main_57
    push constant 0
    return